{% extends 'users/base.html' %}
{% block content %}
    <div class="container" style="width: 70%;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление магазина</legend>
                <div>Вы действительно хотите УДАЛИТЬ магазин <strong>"{{ object.name }}"</strong> и все его настройки ?</div>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-success" href="{% url 'stores-list' %}">Отмена</a>
                <button class="btn btn-danger" type="submit">Да, УДАЛИТЬ МАГАЗИН "{{ object.name }}"</button>
            </div>
        </form>
    </div>
{% endblock content %}