{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid" style="width: 100%;">
    <a class="btn btn btn-success mb-3" style="margin-top: 1rem;" href="{% url 'stores-add' %}">Создать магазин</a>
    <h5 class="border-bottom mb-4">Магазины
        <span class="text-muted small">(всего: {{ items_count }})</span>
    </h5>
    <table class="table table-hover small">
        <thead class="thead-dark">
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Наименование</th>
            <th>Маркетплейс</th>
            <th>Схема работы</th>
            <th>Статус</th>
            <th>Склады магазина</th>
            <th style="text-align: center">Действия</th>
        </tr>
        </thead>
        {% if items %}
        <tbody>
        {% for item in items %}
        <tr style="line-height: 1rem;">
            <td>{{ forloop.counter }}</td>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'stores-detail' item.id %}">{{ item.name }}</a></td>
            <td>{{ item.marketplace }}</td>
            <td>{{ item.store_type }}</td>
            <td>{{ item.status }}</td>

            <td>
                {% if item.store_warehouses.all %}
                    <dl>
                    {% for wh in item.store_warehouses.all %}
                        <dd class="mb-2">
                            <a href="{% url 'store-warehouses-detail' wh.id %}">{{ wh.name }}</a>
                        </dd>
                    {% endfor%}
                    </dl>
                {% else %}
                -
                {% endif %}
            </td>

            <td class="actions">
                <a class="btn btn-sm btn-primary" href="{% url 'stores-update' item.id %}">Изменить</a>
                <a class="btn btn-sm btn-secondary" href="{% url 'stores-delete' item.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        {% endif %}
    </table>
</div>
{% endblock content %}