{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load stores.template_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid">
    <div style="display: none;" id="brands_filter_source">{{ brands_filter_source }}</div>
    <a class="btn btn-sm btn-success mb-3" style="margin-top: 1rem;" href="{% url 'goods-add' %}">Создать товар</a>
    <a class="btn btn-sm btn-light mb-3" style="margin-top: 1rem;" href="{% url 'goods-batch-upload' %}">Загрузить из
        файла</a>
    <a class="btn btn-sm btn-light mb-3" style="margin-top: 1rem;" href="{% url 'goods-export' %}?{{ page_filter }}">Выгрузить
        в файл</a>
    <h5 class="border-bottom mb-2">Товары
        <span class="text-muted small">
            (всего: {{ items_count }}, с учетом фильтров: {{ filtered_items_count }})
        </span>
    </h5>
    <div>
        {% include "../reusables/pagination.html" %}

        <div class="container-fluid" style="width: 100%;">
            <div class="row">
                <div class="col-8 mb-2" style="padding-left: 0rem;">
                    <table>
                        <tr>
                            <!--                            BRANDS FILTER LIST -->
                            <td>
                                <div>
                                    <a href="#" data-toggle="dropdown" class="dropdown-toggle btn btn-sm btn-light">
                                        Фильтр по брендам<b class="caret"></b>
                                    </a>
                                    <ul style="height: 0px;" class="smaller dropdown-menu list-group-flush"
                                        id="brand-filter-list" name="brand-filter-list">
                                        <li class="list-group-item">
                                            <input type="checkbox" value="111" class="form-check-input" id="brand_1">
                                            <label class="form-check-label" for="brand_1">
                                                Бренд № 1
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <!--                            CATEGORIES FILTER LIST -->
                            <td>
                                <div>
                                    <a style="margin-left: 10px;" data-toggle="dropdown"
                                       class="dropdown-toggle btn btn-sm btn-light">
                                        Фильтр по категориям<b class="caret"></b>
                                    </a>
                                    <ul style="height: 0px;" class="smaller dropdown-menu list-group-flush"
                                        id="category-filter-list" name="category-filter-list">
                                        <li class="list-group-item">
                                            <input type="checkbox" value="2" class="form-check-input" id="category_1">
                                            <label class="form-check-label" for="category_1">
                                                Катетория № 1
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <!--                        FILTERS FORM-->
                                    <form class="form-inline" method="get" style="mb-0">
                                        <input type="text" style="display: none;" name="brands" id="brands"
                                               class="form-control mr-sm-2">
                                        <input type="text" style="display: none;" name="cats" id="cats"
                                               class="form-control mr-sm-2">
                                        <input type="checkbox" style="display: none;" name="filter-all" id="filter-all"
                                               class="form-control mr-sm-2 filter-all">
                                        <button id="apply-filters" type="submit" class="ml-2 btn btn-sm btn-light">
                                            Применить фильтры
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="col-4 pr-0" style="text-align: right;">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="btn btn-sm btn-light filter-all-btn" href="#">
                                Выбрать все товары: {{ filtered_items_count }}
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span class="btn btn-sm btn-light" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Действия с выделенными товарами
                            </span>
                            <span class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#brandModal"
                                   href="#">Установить
                                    бренд</a>
                                <a class="dropdown-item btn btn-sm" data-toggle="modal" data-target="#categoryModal"
                                   href="#">Установить категорию</a>
                            </span>
                        </li>
                    </ul>
                    <div>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-hover small">
            <thead class="thead-dark">
            <tr class="align-top">
                <th>
                    <input type="checkbox" name="main-checkbox" id="main-checkbox" class="main-checkbox">
                </th>
                <th>№</th>
                <th>ID</th>
                <th class="narrow">Код</th>
                <th>Артикул</th>
                <th>Наименование</th>
                <th>Бренд</th>
                <th>Категория</th>
                <th>Остаток по настройкам складов</th>
                <th style="text-align: center">Действия</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
            {% for item in items %}
            <tr>
                <td><input type="checkbox" class="item-checkbox" name="item_{{ item.id }}"
                           id="item_{{ item.id }}" value="{{ item.id }}">
                </td>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.id }}</td>
                <td class="narrow">{{ item.sku }}</td>
                <td>{% if item.article %} {{ item.article }} {% else %} - {% endif %}</td>
                <td><a href="{% url 'goods-detail' item.id %}">{{ item.name }}</a></td>

                <td>
                    {% if item.brand %}
                    <a href="{% url 'brands-detail' item.brand.id %}">{{ item.brand }}</a>
                    {% else %} - {% endif %}
                </td>

                <td>
                    {% if item.category %}
                    <a href="{% url 'categories-update' item.category.id %}">{{ item.category.name }}</a>
                    {% else %} - {% endif %}
                </td>

                <!--calculated stock - store warehouse -->
                {% if stocks|get_item:item.sku %}
                {% with stocks=stocks|get_item:item.sku %}
                <td class="stock">
                    {% for store, stock in stocks.items %}
                    <dl class="row mb-0">
                        <dd class="col-sm-6 mb-0 mt-1">
                            <a href="{% url 'stores-detail' store.id %}">{{ store.name }}</a>
                        </dd>
                        <dd class="mb-0 col-sm-6 mt-1">
                            <ul class="ul list-unstyled">
                                {% for row in stock %}
                                <li class="mt-0 mb-0 stock">
                                    <a href="{% url 'store-warehouses-detail' row.wh.id %}">
                                        {{ row.wh.name }}
                                    </a>
                                    : {{ row.amount }}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% endfor %}
                </td>
                {% endwith %}
                {% else %}
                <td>-</td>
                {% endif %}
                <td style="text-align: center; padding-right: 0rem; width: 12rem;">
                    <a class="btn btn-primary btn-sm" href="{% url 'goods-update' item.id %}">Изменить</a>
                    <a class="btn btn-secondary btn-sm" href="{% url 'goods-delete' item.id %}">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>

        {% include "../reusables/pagination.html" %}
    </div>
    <!-- batch update brand popup { -->
    <div class="modal fade" id="brandModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="brandModalLabel">Установка бренда для выделенных товаров</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="batch-update-brand" method="post" action="{% url 'goods-batch-update-brand' %}">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ batch_update_brand_form|crispy }}
                        </fieldset>
                        <input type="checkbox" class="hidden filter-all-val">
                        <input type="text" class="hidden query-params">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
                    <button type="submit" name="batch-update-brand" class="btn btn-info batch-update-brand">Установить
                        бренд
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- batch update brand popup } -->

    <!-- batch update category popup { -->
    <div class="modal fade" id="categoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModalLabel">Установка категории для выделенных товаров</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="batch-update-category" method="post" action="{% url 'goods-batch-update-category' %}">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ batch_update_category_form|crispy }}
                        </fieldset>
                        <input type="checkbox" class="hidden filter-all-val">
                        <input type="text" class="hidden query-params">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Отмена</button>
                    <button type="submit" name="batch-update-category" class="btn btn-info batch-update-category">
                        Установить категорию
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <!-- batch update category popup } -->
    <div id="categories_list" style="display: none;">{{ categories_list }}</div>
    <div id="categories_filter_source" style="display: none;">{{ categories_filter_source }}</div>
</div>
<script src="{% static 'stores/js/list_goods.js' %}"></script>
{% endblock content %}