.post {
    background:  #a8f0db;
}
.get {
    background: #AFEEEE;
}

.path-header {
    padding-top: 3px;
    cursor: pointer;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 0.8rem;
}

.path-body {
    display: none;
}

.path-info {
    font-size: 17px;
}

.dl dt {
    font-weight: normal;
}

.code {
    font-family: Courier;
    background: #E0FFFF;
}

.data-type {
    font-family: Courier;
    background: #FDF5E6;
}

.content {
    text-align: justify;
}

.tcol {
    min-width: 15rem;
}