[Unit]
Description=STL web app
Requires=docker.service
After=docker.service

[Service]
User=dockeruser

Type=simple
RemainAfterExit=true
ExecStart=/home/dockeruser/service/deploy/service_up.sh
ExecStop=/home/dockeruser/service/deploy/service_down.sh

[Install]
WantedBy=multi-user.target
