{% extends 'users/base.html' %}
{% block content %}
<div class="container-fluid" style="width: 100%;">
<a class="btn btn btn-success mb-3" style="margin-top: 1rem;" href="{% url 'warehouses-add' %}">Создать склад</a>
<legend class="border-bottom mb-4" >Мои склады (всего {{ items_count }}):</legend>
<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>№</th>
        <th>ID</th>
        <th>Наименование</th>
        <th>Активность</th>
        <th>Тип</th>
        <th>Код</th>
        <th>Приоритет</th>
        <th>Поставщик</th>
        <th>Магазины</th>
        <th style="text-align: center">Действия</th>
    </tr>
    </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.id }}</td>
                    <td><a href="{% url 'warehouses-detail' item.id %}">{{ item.name }}</a></td>
                    <td>{% if item.active %}
                        <span style="font-size: 0.9rem;">&#9989;</span>
                        {% else %} - {% endif %}
                    </td>
                    <td>{{ item.kind }}</td>
                    <td>{% if item.code %} {{ item.code }} {% else %} - {% endif %}</td>
                    <td>{% if item.priority %} {{ item.priority }} {% else %} - {% endif %}</td>
                    <td>{% if item.supplier %}
                        <a href="{% url 'suppliers-detail' item.supplier.id %}">{{ item.supplier.name }}</a>
                        {% else %} - {% endif %}</td>
                    <td>
                        <dl>
                            {% for store in item.get_stores %}
                                <dd class="mb-0">
                                    <a href="{% url 'stores-detail' store.id %}">{{ store.name }}</a>
                                </dd>
                            {% endfor %}
                        </dl>
                    </td>

                    <td style="text-align: center; padding-right: 0rem; width: 13rem;">
                        <a class="btn btn-primary" href="{% url 'warehouses-update' item.id %}">Изменить</a>
                        <a class="btn btn-secondary" href="{% url 'warehouses-delete' item.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>
</div>
{% endblock content %}