{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid" style="width: 100%;">
<h5 class="border-bottom mb-3 mt-3">
    Логи обмена остатками с маркетплейсами
    <span class="text-muted small">(всего: {{ items_count }})</span>
</h5>

{% include "../reusables/pagination.html" %}

<table class="table table-hover small">
    <thead class="thead-dark">
    <tr>
        <th>№</th>
        <th>ID</th>
        <th>Маркетплейс</th>
        <th>Магазин</th>
        <th>Склад магазина</th>
        <th>Дата и время завершения</th>
        <th>Успешно</th>
        <th>HTTP-код ответа</th>
        <th>Описание ошибки</th>
        <th>Комментарий</th>
        <th class="pl-0">Действия</th>
    </tr>
    </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>
                        <a href="{% url 'logs-detail' item.id %}">
                            {{ item.id }}
                        </a>
                    </td>
                    <td>
                        {% if item.marketplace %}
                            {{ item.marketplace.name }}
                        {% else %} - {% endif%}
                    </td>
                    <td>
                        {% if item.store %}
                            <a href="{% url 'stores-detail' item.store.id %}">
                                {{ item.store.name }}
                            </a>
                        {% else %} - {% endif %}
                    </td>
                    <td>
                        {% if item.warehouse %}
                            <a href="{% url 'store-warehouses-detail' item.warehouse.id %}">
                                {{ item.warehouse.name }}
                            </a>
                        {% else %} - {% endif%}
                    </td>
                    <td>{{ item.end_date|date:"d.m.Y H:i:s (e)" }}</td>
                    <td>
                        {% if item.success %}
                            <span style="font-size: 0.9rem;">&#9989;</span>
                        {% else %} - {% endif %}
                    </td>
                    <td>{{ item.response_status }}</td>
                    <td>
                        {% if item.error %}
                            <span title="{{ item.error }}">
                                {{ item.error|truncatechars:50 }}
                            </span>
                        {% else %} - {% endif %}
                    </td>
                    <td>
                        {% if item.comment %}
                            <span title="{{ item.comment }}">
                                {{ item.comment|truncatechars:50 }}
                            </span>
                        {% else %} - {% endif %}
                    </td>
                    <td>
                        <div class="row">
                            <span class="mr-3 ml-1">
                                <a href="{% url 'logs-detail' item.id %}">
                                    Детальнее
                                </a>
                            </span>
                            <span class="ml-1">
                                {% if item.rows.all %}
                                    <a href="{% url 'logs-export' item.id %}">
                                        Выгрузить в файл
                                    </a>
                                {% else %}
                                    <span class="text-muted">-</span>
                                {% endif %}
                            </span>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>

{% include "../reusables/pagination.html" %}

</div>
{% endblock content %}