{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="container-fluid" style="width: 80%;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Создание настройки - <a href="{% url 'stores-detail' store_id %}">{{ store_name }}</a>
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mb-4">
                <button class="btn btn-success" type="submit">Создать настройку</button>
            </div>
        </form>
</div>
<script type="text/javascript" src="{% static 'stores/js/add_stock_setting.js' %}"></script>
{% endblock content %}