{% extends 'users/base.html' %}
{% block content %}
    <div class="container" style="width: 70%;">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление настройки остатков</legend>
                <div>Вы действительно хотите УДАЛИТЬ настройку остатков
                    <strong>"{{ object.name }}"</strong> склада магазина
                    <a href="{% url 'store-warehouses-detail' object.warehouse.id %}">
                        {{ object.warehouse.name }}
                    </a>?
                </div>
            </fieldset>
            <div class="form-group">
                <a class="btn btn-success" href="{% url 'store-warehouses-detail' object.warehouse.id %}">Отмена</a>
                <button class="btn btn-danger" type="submit">
                    Да, УДАЛИТЬ настройку остатков "{{ object.name }}"!
                </button>
            </div>
        </form>
    </div>
{% endblock content %}