.condition {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #d5dbe0;
    padding: 20px;
    padding-top: 5px;
}

.types, .brands {
    width: 40rem;
}

select[multiple]:focus option:checked {
  background: linear-gradient(#1E90FF, #1E90FF);
}

.toolbar-cmd {
    margin: 0px 10px;
    cursor: pointer;
    background: #d8ecf3;
    font-size: 0.9rem;
}

.toolbar-lbl{
    margin-right: 10px;
}

.hidden {
    display: none;
}

.btn {
    min-width: 12rem;
}

.btn-scroll {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: lightgray;
}

.condition-header-text {
    font-weight: bolder;
}

.delete-condition-bar {
    text-align: right;
    margin-right: 0  px;
}

.delete-condition-btn {
    cursor: pointer;
    text-decoration: underline;
    font-size: 0.9em;
    background: #d8ecf3;
    back
}