.stock {
    min-width: 200px;
}

.narrow {
    max-width: 150px;
}

.smaller {
    font-size: 13px;
}

.smaller-header {
    font-size: 1.2rem;
}

.cols {
    margin-right: 0px;
    padding-right: 0px;
    text-align: end;
}

.ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.actions {
    text-align: right;
    width: 17rem;
}