.stock {
    min-width: 300px;
}

.narrow {
    max-width: 150px;
}

.smaller {
    font-size: 13px;
}

.smaller-header {
    font-size: 1.2rem;
}

.cols {
    margin-right: 0px;
    padding-right: 0px;
    text-align: end;
}

.ul {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.actions {
    text-align: right;
    width: 17rem;
}

.actions-center {
    text-align: center;
    width: 17rem;
}

.page-link {
    font-size: 0.8rem;
    padding: 0.3rem 0.4rem;
}

.current-page-link {
    background-color: #87CEEB;
}

.hidden {
    display: none;
}