{% extends 'users/base.html' %}
{% load static %}
{% load stores.template_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid" style="max-width: 100%;">
    <h5 class="border-bottom mb-3 mt-3">Остатки товаров
        <span class="text-muted small"> (всего товаров: {{ items_count }})</span>
    </h5>
    {% include "../reusables/pagination.html" %}
    <table class="table table-hover small">
        <thead class="thead-dark">
            <tr>
                <th>№</th>
                <th>Код</th>
                <th>Наименование товара</th>
                <th>Остаток по всем складам</th>
                <th>Тип склада</th>
                <th>Склад</th>
                <th>Дата остатков</th>
                <th>Остаток по складу</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.sku }}</td>
                    <td><a href="{% url 'goods-detail' item.id %}">{{ item.name }}</a></td>

                    <!-- detailed stock-->
                    {% with stocks=stocks|get_item:item.id %}
                        <td>{{ stocks.total_amount }}</td>

                        <td style="min-width: 50px;">
                            <dl>
                                {% for row in stocks.stocks %}
                                <dd class="mb-0">
                                    {{ whs|get_item:row.warehouse|get_item:'type' }}
                                </dd>
                                {% endfor %}
                            </dl>
                        </td>

                        <td>
                            <dl>
                                {% for row in stocks.stocks %}
                                <dd class="mb-0">
                                    <a href="{% url 'warehouses-detail' row.warehouse %}">{{ whs|get_item:row.warehouse|get_item:'name' }}</a>
                                </dd>
                                {% endfor %}
                            </dl>
                        </td>

                        <td>
                            <dl>
                                {% for stock in stocks.stocks %}
                                <dd class="mb-0">
                                    {{ stock.max_date_updated|date:"d.m.Y H:i:s" }}
                                </dd>
                                {% endfor %}
                            </dl>
                        </td>

                        <td>
                            <dl>
                                {% for stock in stocks.stocks %}
                                <dd class="mb-0">
                                    {{ stock.total_amount }}
                                </dd>
                                {% endfor %}
                            </dl>
                        </td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "../reusables/pagination.html" %}
</div>
{% endblock content %}