{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid" style="width: 100%;">
    <a class="btn btn btn-success mb-3 mt-3" href="{% url 'suppliers-add' %}">Создать поставщика</a>
    <h5 class="border-bottom mb-3">
        Поставщики <span class="text-muted small">(всего: {{ items_count }})</span>
    </h5>
    {% include "../reusables/pagination.html" %}
    <table class="table table-hover small">
        <thead class="thead-dark">
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Наименование</th>
            <th>ИНН</th>
            <th>E-mail</th>
            <th>Телефон</th>
            <th>Склады</th>
            <th style="text-align: center">Действия</th>
        </tr>
        </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.id }}</td>
                        <td><a href="{% url 'suppliers-detail' item.id %}">{{ item.name }}</a></td>
                        <td>{% if item.tin %} {{ item.tin }} {% else %} - {% endif %}</td>
                        <td>{% if item.email %} {{ item.email }} {% else %} - {% endif %}</td>
                        <td>{% if item.phone %} {{ item.phone }} {% else %} - {% endif %}</td>
                        <td>
                            <dl>
                                {% for wh in item.get_warehouses %}
                                    <dd class="mb-0">
                                        <a href="{% url 'warehouses-detail' wh.id %}">{{ wh.name }}</a>
                                    </dd>
                                {% endfor %}
                            </dl>
                        </td>

                        <td class="actions">
                            <a class="btn btn-primary btn-sm" href="{% url 'suppliers-update' item.id %}">Изменить</a>
                            <a class="btn btn-secondary btn-sm" href="{% url 'suppliers-delete' item.id %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    {% include "../reusables/pagination.html" %}
</div>
{% endblock content %}