{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load stores.template_filters %}
{% block content %}
<link rel="stylesheet" href="{% static 'stores/css/common.css' %}">
<div class="container-fluid" style="width: 100%;">
<a class="btn btn btn-success mb-3 mt-3" href="{% url 'store-warehouses-add' store_id %}">Создать склад</a>
<legend class="border-bottom mb-4">
    Склады магазина - <a href="{% url 'stores-detail' store_id %}">{{ store_name }}</a> (всего {{ items_count }}):
</legend>

<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
        <th>№</th>
        <th>ID</th>
        <th>Наименование</th>
        <th>Код в маркетплейсе</th>
        <th>Описание</th>
        <th style="text-align: right; padding-right: 4rem;">Действия</th>
    </tr>
    </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.id }}</td>
                    <td><a href="{% url 'stock-settings-update' item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.description | truncatechars:40 }}</td>

                    <td style="text-align: right; padding-right: 0.1rem;">
                        <a class="btn btn-primary" href="{% url 'store-warehouses-update' item.id %}">Изменить</a>
                        <a class="btn btn-secondary" href="{% url 'store-warehouses-delete' item.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
</table>
</div>
{% endblock content %}