{% extends 'users/base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="width: 100%;">
    <a class="btn btn-sm btn-success mb-1 mt-3" href="{% url 'user-jobs-add' %}">Создать задачу</a>
    <h5 class="border-bottom mb-1 mt-2">
        Задачи по расписанию
        <span class="text-muted small">(всего: {{ items_count }})</span>
    </h5>

    {% include "../reusables/pagination.html" %}

    <table class="table table-hover small">
        <thead class="thead-dark">
        <tr>
            <th>№</th>
            <th>ID</th>
            <th>Активна</th>
            <th>Наименование</th>
            <th>Системная задача</th>
            <th>Расписание</th>
            <th class="actions-center">Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ item.id }}</td>
                <td>
                    {% if item.active %}
                    <span style="font-size: 0.9rem;">&#9989;</span>
                    {% else %} - {% endif %}
                </td>
                <td>
                    <a href="{% url 'user-jobs-detail' item.id %}">{{ item.name }}</a>
                </td>
                <td>{{ item.job.name }}</td>

                <td>{{ item.human_repr }}</td>
                <td class="actions-center pr-0">
                    <a class="btn btn-info btn-sm" href="{% url 'user-jobs-run' item.id %}">Выполнить сейчас</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'user-jobs-update' item.id %}">Изменить</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% include "../reusables/pagination.html" %}

</div>
{% endblock content %}